



body{
    background-color: lightgrey;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
}
.container{
    margin-top: 200px;
}
.Login{
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    /* margin-bottom: 40px; */
    margin-top: 50px;
}
.Loginfields{
    background-color: white;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top: 90px;
    width: 25%;
    margin: 0 auto;
    align-self: center;
    padding: 20px;
    border-radius: 10px;


}
.Inputfield{
    margin-top: 10px;
    /* background-color: red; */
}
.fontsize{

    font-size: 10px;
}
.icon{
    /* background-color: '#1565C0'; */
    background-color: #1565C0;
    width: 100px;
    margin: 0 auto;
   height: 100px;
   border-radius: 100%;
   margin-top: -70px;
}
.button{
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top: 40px;
    /* width: 30%; */
    margin: 0 auto;
    align-self: center;
    padding: 20px; 
}